{{> header }}

{{> body-content }}

<h2>Posts listing</h2>

  {{#each posts}}
    <article>
        <h3><a href="{{ fileDestination.permalink }}">{{ attributes.title }}</a></h3>
        {{#if attributes.excerptHtml }}
          {{{ attributes.excerptHtml }}}
        {{/if}}
        {{#if attributes.excerpt }}
          <p>{{ attributes.excerpt }}</p>
        {{/if}}
    </article>
  {{/each}}

  {{#if paging.previous}}
    <a href="{{paging.previous}}">Previous</a>
  {{/if}}
  
  {{#if paging.next}}
    <a href="{{paging.next}}">Next</a>
  {{/if}}

{{> footer }}